<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>OGGI</title>
    <link rel="stylesheet" href="/static/view_score.css">
    <link rel="stylesheet" href="/static/sticky.css">
    <link rel="icon" type="image/vnd.icon" href="/assets/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <h1>OGGI</h1>
    <div class="sticky-bar">
      <a href="/live" class="live">LIVE</a>
      <a href="/future" class="oggi">OGGI</a>
    </div>

    <div id="output"></div>
    <script>
        let mode = "finished";
    </script>
    <script src="/static/pagine.js"></script>


</body>
</html>